name: Docker Build & Push (Per Branch)
on:
  push:
    branches:
      - dev
      - stage
      - prod
    paths-ignore:
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
